.homepage{
  justify-content: flex;
  align-items: center;
  text-align: center;
}

.coin-app{
  justify-content: flex;
  text-align: center;
  background-color: #878787 ;
  color: white;
}

.coin-search{

}

.coin-data{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  
}


.coin-row{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.pic{
  border-style: solid;
  border-color: white ;
}