


.coin-app{
  text-align: center;
  background-color: #39393e ;
  color: white;
  min-height: 100vh;
}

.coin-search{
  font-family: Trebuchet MS, sans-serif ;
  padding-bottom: 5%;
  padding-top: 5%;
}

.coin-data{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  
}


.coin-row{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.pic{
  border-style: solid;
  border-color: transparent;
  margin-top: 10%;
}

.coin-container{
  background-color: #424549;
  padding-top: 5%;
  border: solid white;
  margin-top: 2.5%;
}

.coin-percent-red{
  color: red;
}

.coin-percent-green{
  color:green;
}